@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
}

body {
    background-color: #e8f5ff;
    font-family: Arial;
    overflow: hidden;
}

.navbar-top {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 8px 0px grey;
    height: 70px;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding-top: 15px;
    position: absolute;
    left: 45%;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    border-bottom-right-radius: 25px;
    height: 86%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
    z-index: 999;
    top: 70px;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url,
hr {
    text-align: center;
}

.url hr {
    margin-left: 20%;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 6px 8px;
    text-decoration: none;
}

.url a:hover,
.url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1), 0 30px 60px rgba(0, 0, 0, 0.05);
}

.main {
    margin-top: 2%;
    margin-left: 29%;
    font-size: 28px;
    padding: 0 10px;
    width: 58%;
}

.main h2 {
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.card-info-edit {
    display: none;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
    cursor: pointer;
}

.social-media {
    text-align: center;
    width: 90%;
}

.social-media span {
    margin: 0 10px;
}

.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-instagram:hover {
    color: #ce2b94 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

.fa-snapchat:hover {
    color: #fffb01 !important;
}

.iconAvt:hover {
    transition: all .5s ease;
    cursor: pointer;
    font-size: 20px;
    color: rgb(35, 35, 35);
}

.card-pay-edit {
    display: none;
}

.pttt-pay {
    margin-bottom: 20px;
}

.pttt-pay input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nh-pay select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nh-pay input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.box-order {
    position: relative;
    display: flex;
    left: 50%;
    transform: translate(-45%);
    top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-order .header-order {
    display: flex;
    background-color: #ffffff;
    position: relative;
    border-bottom: 2px solid rgba(81, 78, 78, 0.338);
    height: 50px;
    line-height: 10px;
}


.box-order .header-order .head-link {
    padding: 20px;
}

.box-order .header-order .head-link a {
    color: black;
    text-decoration: none;
}

.box-order .header-order .head-link a:hover {
    color: #ee4d2d;
}

#active-link-order a {
    color: #ee4d2d;
}

#active-link-order {
    border-bottom: 2px solid #ee4d2d;
}

.box-order .search-order {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 2px;
    height: 40px;
    margin-top: 10px;
}

.box-order .search-order form input {
    width: 800px;
    outline: none;
    border: none;
    background-color: #eaeaea;
    font-size: 15px;
    margin-top: 15px;
}

.box-order .search-order form button {
    float: left;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.box-order .search-order form input:focus+button {
    color: #000;
}

.box-order .box-orders::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.box-order .box-orders::-webkit-scrollbar-thumb {
    background-color: #ee4d2d;
    border-radius: 10px;
}

.box-order .box-orders {
    margin-top: 10px;
    overflow-y: scroll;
    height: 550px;
}

.box-order .box-orders .show-orders {
    width: 850px;
    background-color: #ffffff;
    margin-top: 10px;
}

.box-order .box-orders .show-orders .order-phandau {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-order .box-orders .show-orders .order-phandau .show-info-shop {
    display: flex;
    align-items: center;
    padding: 10px;
}

.box-order .box-orders .show-orders .order-phandau .show-info-shop #parent-info {
    padding: 8px;
}

.box-order .box-orders .show-orders .order-phandau .show-info-shop #parent-info a {
    background-color: #d73211;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
}

.box-order .box-orders .show-orders .order-phandau .show-status-shop {
    display: flex;
    align-items: center;
    padding: 10px;
}

.box-order .box-orders .show-orders .order-phandau .show-status-shop #parent-status {
    padding: 8px;
}

.box-order .box-orders .show-orders .order-phandau .show-status-shop #parent-status:nth-of-type(3) {
    color: #e34323;
    text-transform: uppercase;
}

hr {
    margin-top: 2px;
    border-color: rgba(81, 78, 78, 0.124);
    ;
}

.box-order .box-orders .show-orders .order-phanthan a {
    text-decoration: none;
    color: black;
}

.box-order .box-orders .show-orders .order-phanthan .order-item {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-order .box-orders .show-orders .order-phanthan .order-item .item-part1 {
    display: flex;
    justify-content: center;
}

.box-order .box-orders .show-orders .order-phanthan .order-item .item-part2 {
    color: #ee4d2d;
    font-size: 19px;
}

.box-order .box-orders .show-orders .order-phanthan .order-item .item-part1 .content {
    margin-left: 10px;
    display: grid;
}

.box-order .box-orders .show-orders .order-phancuoi {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
}

.box-order .box-orders .show-orders .order-phancuoi .total-order {
    position: absolute;
    right: 0;
    padding: 10px;
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan .status-cuoi {
    padding: 10px;
    font-size: 13px;
    color: gray;
    width: 450px;
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan .right {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding: 10px;
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan .right .parent-right a {
    background-color: #d73211;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan .right .parent-right:hover a {
    background-color: #9a2c15;
}


.box-order .box-orders .show-orders .order-phancuoi .tongquan .right .parent-right:nth-of-type(2) a {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.482);
}

.box-order .box-orders .show-orders .order-phancuoi .tongquan .right .parent-right:nth-of-type(2):hover a {
    background-color: #3b373743;
}




/* /////////////////// */
.box {
    position: relative;
    left: 125px;
    max-width: 80%;
    height: 86%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    border-radius: 15px;
    margin-top: 1rem;
}

.box-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.box-header div:nth-child(1) {
    margin-left: 25px;
}

.box-header div:nth-child(2) {
    margin-right: 25px;
}

.box-header div:nth-child(1) a {
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: black;
}

.madon {
    display: flex;
}

.madon p:nth-child(2) {
    margin-left: 10px;
    color: rgb(8, 0, 255);
}

.box-content {
    margin: 70px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;

}

.box-content .cart .cart-icon i {
    color: rgb(0, 186, 43);
    border: 5px solid rgb(0, 186, 43);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
    font-size: 25px;
    line-height: 50px;
}


.cart {
    text-align: center;

}

.box-footer {
    height: 60px;
    background-color: rgba(255, 228, 196, 0.438);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-footer div:nth-child(1) {
    margin-left: 20px;
}

.box-footer div:nth-child(2) {
    margin-right: 20px;
}

.box-footer div a {
    border: none;
    background-color: #d73211;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.box-footer div a::before {
    content: " ";
    position: absolute;
    height: 35px;
    top: 0;
    width: 0;
    left: 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.box-footer div a:hover::before {
    background-color: #ff2a008c;
    width: 100%;
    color: white;
    z-index: -1;
}

.vien {
    height: 0.1875rem;
    width: 100%;
    background-position-x: -1.875rem;
    background-size: 7.25rem 0.1875rem;
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
}

/*box 2*/
.box-2 {
    display: grid;
    grid-template-columns: 35% 65%;
    border-bottom: 1px solid black;
    height: 350px;
    align-items: center;
}

.content1 {
    padding: 20px;
    line-height: 25px;
    border-right: 1px solid rgb(123, 123, 123);
    height: 200px;
    transform: translateX(15%);
}

.content1 .name {
    margin-bottom: 20px;
}

.content2 {
    margin: 20px 120px;
}

.content2 .reg {
    padding: 0 10px;
    display: flex;
    align-items: center;

}

.content2 .reg-trangthai {
    color: #646464;
    font-weight: 444;
}

.light {
    position: absolute;
    height: 220px;
    width: 1px;
    top: 30.2%;
    left: 47.16%;
    background-color: #848484;
}
.light2 {
    position: absolute;
    height: 41px;
    width: 1px;
    top: 44%;
    left: 47.16%;
    background-color: #848484;
}

.content2 .reg div {
    margin: 10px 20px;
}

.content2 .reg div:nth-child(1) i {
    /* background-color: rgb(0, 187, 255); */
    /* color: white; */
    padding: 10px;
    border-radius: 100%;
}

/*box3*/
.box3-header {
    background-color: rgba(255, 228, 196, 0.438);
    height: 60px;
    display: flex;
}

.box3-header p {
    line-height: 60px;
}

.box3-header a:nth-child(1) {
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    margin: 15px 10px;
    padding: 5px 10px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.box3-header a:nth-child(1)::before {
    content: " ";
    position: absolute;
    height: 20px;
    top: 0;
    width: 0;
    left: 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.box3-header a:nth-child(1):hover::before {
    background-color: #ff2a008c;
    width: 100%;
    color: white;
    z-index: -1;
}

.box3-header a:nth-child(3) {
    text-decoration: none;
    height: 25px;
    border-radius: 5px;
    background-color: #d73211;
    color: white;
    border: none;
    margin: 12px 5px;
    padding: 5px 10px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.box3-header a:nth-child(3)::before,
.box3-header a:nth-child(4)::before {
    content: " ";
    position: absolute;
    height: 25px;
    top: 0;
    width: 0;
    left: 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.box3-header a:nth-child(3):hover::before,
.box3-header a:nth-child(4):hover::before {
    background-color: #ff2a008c;
    width: 100%;
    color: white;
    z-index: -1;
}

.box3-header a i {
    padding: 0 5px;
}

.box3-header p {
    font-weight: bold;
    margin-left: -10px;
}

.box3-header {
    border-bottom: -1px solid black;
}

.box_chitiet1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.box_chitiet1 img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.box_chitiet1 .name,
.box_chitiet2 .name {
    flex-grow: 1;
}

.box_chitiet1 .name span {
    font-size: 14px;
    color: #888;
}

.box_chitiet1 .price {
    font-weight: bold;
    padding: 0 50px;
}

.box_chitiet1 .price del {
    margin: 0 10px;
    color: #888;
    text-decoration: line-through;
}

.box_chitiet1 a {
    padding: 10px;
    background-color: #d73211;
    border: none;
    border-radius: 5px;
    color: white;
    position: relative;
    cursor: pointer;
    z-index: 1;

}

.box_chitiet1 a::before {
    content: " ";
    position: absolute;
    height: 36px;
    top: 0;
    width: 0;
    left: 0;
    border-radius: 5px;
    transition: all .5s ease;
}

.box_chitiet1 a:hover::before {
    background-color: #ff2a008c;
    width: 100%;
    color: white;
    z-index: -1;
}

.box_chitiet2 {
    width: 100%;
}

.label-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 70px;
}

.label-name .name span {
    display: flex;
    font-size: 15px;
    color: #888;
    padding-bottom: 15px;
}

.label-name .name div {
    font-weight: bold;
}

.please {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid rgb(255, 200, 0);
}
.please .label-name {
    border-bottom: none;
    padding: 0 20px;
}
.please .label-name label{
    padding: 0 10px;
}
.pleases {
    padding: 10px ;
}
.pleases span {
    color: red;
}